.nft-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow: auto;
  margin: 0 auto 20px;

  @media screen and (max-width: 2090px) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media screen and (max-width: 1830px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media screen and (max-width: 1570px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width: 1310px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1050px) {
    grid-template-columns: repeat(2, 1fr);
  }
}